<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/putData/1" method="POST">

        <input name="_method" type="hidden" value="PUT">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="coffee name" name="name">
        <input type="number" placeholder="amount" name="amount" value="">

        <button type="submit" id="order">Submit</button>

    </form>
</body>

</html>